<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <!-- Argument to switch between ros2_control and Gazebo control -->
    <xacro:arg name="use_ros2_control" default="true"/>

    <!-- Core robot body -->
    <xacro:include filename="robot_core.xacro"/>

    <!-- ROS 2 Control -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control.xacro"/>
    </xacro:if>

    <!-- Gazebo control (if not using ros2_control) -->
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro"/>
    </xacro:unless>

    <!-- Sensors -->
    <!-- changing -->
    <xacro:include filename="lidar.xacro"/>  
    <xacro:include filename="VLP-16.urdf.xacro"/>  
    <!-- Instantiate the VLP-16 sensor, connected to the chassis -->
    <xacro:VLP-16 parent="chassis" name="velodyne_vlp16" topic="/velodyne_points" hz="10">
        <origin xyz="0.15 0 0.195" rpy="0 0 0"/>
    </xacro:VLP-16>
    <xacro:include filename="camera.xacro"/>   
    <xacro:include filename="depth_camera.xacro"/> 

    <!-- IMU Sensor -->
    <xacro:include filename="xsens_mti._imu.urdf.xacro"/>
    <xacro:xsens_imu_mti
        parent_link="chassis"
        imu_name="imu_sensor"
        topic_name="/imu/data"
        xyz="0 0 0.15"
        rpy="0 0 0"
    />

</robot>
