<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  >

    <xacro:include filename="inertial_macros.xacro"/>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <!-- BASE LINK -->
    <link name="base_link">

    </link>

    <!-- BASE FOOTPRINT LINK -->
    <joint name="base_footprint_joint" type="fixed">
        <parent link="base_link"/>
        <child link="base_footprint"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="base_footprint">
    </link>

    <!-- CHASSIS link -->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.1 0 0" />
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0 0 0.075"/>
            <geometry>
                <box size="0.6 0.4 0.15"/>   
            </geometry>    
            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0.075"/>
            <geometry>
                <box size="0.6 0.4 0.15"/>   
            </geometry>    
            <material name="green"/>
        </collision>
        <xacro:inertial_box mass="5.0" x="0.6" y="0.4" z="0.15">
            <origin xyz="0 0 0.075" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="chassis">
        <material>Gazebo/Green</material>
    </gazebo>

    <!-- WHEEL MACRO -->
    <xacro:macro name="wheel_link" params="prefix offset_x offset_y">
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <origin xyz="${offset_x} ${offset_y} 0" rpy="-${pi/2} 0 0"/>
            <axis xyz="0 0 1"/>
        </joint>

        <link name="${prefix}_wheel">
            <visual>
                <geometry>
                    <cylinder length="0.04" radius="0.1"/>
                </geometry>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder length="0.04" radius="0.1"/>
                </geometry>
                 <material name="blue"/>
            </collision>
            <xacro:inertial_sphere mass="0.5" radius="0.1">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_sphere>
        </link>

        <gazebo reference="${prefix}_wheel">
            <material>Gazebo/Blue</material>
            <mu1 value="2.0"/>
            <mu2 value="2.0"/>
        </gazebo>
    </xacro:macro>

    <!-- Create 4 Wheels -->
    <xacro:wheel_link prefix="rear_left" offset_x="-0.2" offset_y="0.25"/>
    <xacro:wheel_link prefix="rear_right" offset_x="-0.2" offset_y="-0.25"/>
    <xacro:wheel_link prefix="front_left" offset_x="0.2" offset_y="0.25"/>
    <xacro:wheel_link prefix="front_right" offset_x="0.2" offset_y="-0.25"/>

    <!-- Remove Caster Wheel -->

</robot>